
.message-board-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #ffffff; */
    /* border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); */
    color: #333333;
    text-align: center;
}

.message-board-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333333;
}

.private-messages-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.private-messages-btn:hover {
    background-color: #0056b3;
}

.message-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.message-input {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
}

.post-btn {
    background-color: #ff7f50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 30%
}

.post-btn:hover {
    background-color: #e66a3c;
}

.post-error-message {
    color: red;
    font-size: 14px;
    margin-top: 20px;
  }

  .image-preview {
    max-width: 100%; 
    max-height: 300px; 
    object-fit: cover;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }

  .message-image-wrapper {
    margin-top: 10px;  
    text-align: left; 
  }
  
  .message-image {
    max-width: 100%; 
    max-height: 200px; 
    object-fit: contain; 
    margin-left: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .file-input {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* .message-item {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  } */

.messages-container {
    margin-top: 20px;
}

.message-item {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 15px;
    text-align: left;
}

.message-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.message-text {
    font-size: 16px;
    color: #333;
    margin-left: 15px;
    margin-bottom: 5px
}

.message-time {
    font-size: 0.65rem;
    color: #777;
    margin-left: 15px
}

.message-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.default-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.username {
    font-size: 1.2rem;
}

.message-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.message-actions {
    display: none;
    gap: 10px;
    margin-top: 10px;
}

.message-item:hover .message-actions {
    display: flex;
}

.message-actions button {
    background-color: #ff7f50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    font-size: 14px;
    opacity: 0;
}

.message-item:hover .message-actions button {
    opacity: 1;
}

.message-actions button:hover {
    background-color: #e66a3c;
}

.like-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: gray;
  /* padding-left: 0 */
  /* margin-top: 5px;
  margin-left: 5px; */
}

.like-btn.liked {
  color: red;
}

.comments-section {
    margin-bottom: 5px;
  }
  
  .comment {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px
  }
  
  .comment-header {
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 5px; */
  }
  
  .comment-profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 4px;
    margin-top: 4px
  }
  
  .comment-username {
    font-weight: bold;
    color: #333;
    margin-top: 4px
  }
  
  .comment-text {
    font-size: 0.95rem;
    color: #444;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .comment-time {
    font-size: 0.65rem;
    color: #888;
    margin-left: 40px;
  }
  
  
  .comments-section {
    display: flex;
    align-items: flex-end;
    margin-left: 0;
    padding-left: 0;
  }
  
  .comment-form {
    display: flex;
    align-items: center;
    gap: 5px; 
    margin-top: 10px;
    flex-wrap: nowrap;
  }
  
  .view-comments-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: gray;
    height: 40px;
  }
  
  .add-comment-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: gray;
  }

  .bootstrap-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .bootstrap-wrapper .form-control {
    display: block;
    width: 90%; 
    padding: 0.375rem 0.75rem;
    font-size: .8rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .bootstrap-wrapper .btn-primary {
    background-color: #007bff; 
    border-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    font-size: 14px; 
    border-radius: 5px;
    width: 10%; 
    height: 35px
  }
  
  .bootstrap-wrapper .btn-primary:hover {
    background-color: #0056b3; 
  }
  

.show-more-btn {
    background-color: transparent;
    color: #007bff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 20px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.show-more-btn:hover {
    color: #0056b3;
    text-decoration: none;
}

.show-more-btn:focus {
    outline: none;
}

@media (prefers-color-scheme: dark) {
    .message-board-container {
        /* background-color: #121212; */
        color: #ffffff;
    }

    .message-board-title {
        color: #ffffff;
    }

    .file-input {
        border: 1px solid #555555;
        border-radius: 5px;
        background-color: #1f1f1f;
      }

    .message-item {
        background-color: #1b1b1b;
        color: #ffffff;
    }

    .message-item:hover {
        background-color: #1d1d1d;
    }

    .message-text {
        color: #ffffff;
    }

    .default-profile {
        background-color: #555; 
        color: #ddd;
    }

    .message-time {
        color: #dcdcdc;
    }

    .message-actions button {
        background-color: #4C8BF5;
        color: white;
    }

    .message-actions button:hover {
        background-color: #357ABD;
    }

    .private-messages-btn {
        background-color: #4C8BF5;
    }

    .private-messages-btn:hover {
        background-color: #357ABD;
    }

    .post-btn {
        background-color: #4C8BF5;
    }

    .post-btn:hover {
        background-color: #357ABD;
    }

    .comment {
        background: #2a2a2a;
        color: #ffffff;
    }

    .comment-username {
        color: #ffffff;
    }

    .comment-text {
        color: #dddddd;
    }

    .comment-time {
        color: #bbbbbb;
    }

    .view-comments-btn, 
    .add-comment-btn {
        color: #4C8BF5;
    }
 
    .add-comment-btn:hover {
        color: #357ABD;
    }

    .show-more-btn {
        color: #4C8BF5;
    }

    .show-more-btn:hover {
        color: #357ABD;
        text-decoration: none;
    }

    .bootstrap-wrapper .form-control {
        display: block;
        width: 90%; 
        padding: 0.375rem 0.75rem;
        font-size: 0.8rem;
        line-height: 1.5;
        color: #ffffff; 
        background-color: #333333; 
        border: 1px solid #555555; 
        border-radius: 0.25rem;
    }

    .bootstrap-wrapper .form-control::placeholder {
        color: #aaaaaa; 
    }

    .bootstrap-wrapper .btn-primary {
        background-color: #4C8BF5; 
        border-color: #4C8BF5;
        color: #ffffff;
        padding: 8px 12px;
        font-size: 14px; 
        border-radius: 5px;
        width: 10%; 
        height: 35px;
    }

    .bootstrap-wrapper .btn-primary:hover {
        background-color: #357ABD; 
        border-color: #357ABD;
    }
}

@media (max-width: 768px) {
    .bootstrap-wrapper .form-control {
        max-width: 85%
    }

    .bootstrap-wrapper .btn-primary {
        max-width: 120%;
        font-size: 12px;
        padding-right: 35px;
    }
}

@media (max-width: 480px) {
    .message-board-container {
        padding: 8px;
        width: 90%
    }

    .message-board-title {
        font-size: 20px;
    }

    .private-messages-btn,
    .post-btn {
        width: 40%;
        font-size: 12px;
        padding: 12px;
    }
    .file-input {
        width: 35%;
        height: auto;
        font-size: 10px;
    }

    .message-image { 
        max-height: 150px;  
      }

    .bootstrap-wrapper .form-control {
        max-width: 76%
    }

    .bootstrap-wrapper .btn-primary {
        max-width: 120%;
        font-size: 12px;
        padding-right: 35px;
    }
}